body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.imagen-de-fondo{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.volver{
    position: absolute;
    margin: 1em;
}

.main{
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-principal{
    box-shadow: 0 0 20px 5px black;
    background-color: white;
    border-radius: 1.5em;
    min-height: 50%;
    min-width: 22.5em;
    padding: 1em;
    position: relative;

    display: flex;
    flex-direction: column;
}

.titulo{
    text-align: center;
    font-size: 2em;
    margin: 0.3em 0;
}

.contenedor-del-logo{
    display: flex;
    justify-content: center;
}

.logo{
    max-width: 5.5em;
    max-height: 5.5em;
}

.label-usuario,
.label-contrase単a{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}
.titulo-usuario,
.titulo-password{
    margin: 0;
    position: absolute;
    left: 4em;
    top: -0.6em;
    background-color: white;
    padding: 0 0.3em;
    cursor: pointer;
}
#usuario,
#password{
    font-size: 1em;
    width: 70%;
    padding: 0.6em;
    padding-top: 0.8em;

    border-radius: 0.3em;
    border: 0;
    outline: #B9B9B9 solid 2px; /*naranja del logo: #ED6200*/
}

#usuario:hover,
#password:hover,
#usuario:focus,
#password:focus,
.label-usuario:hover + #usuario, /* esto hace que cuando haga hover sobre el label de usuario, al input de #usuario se le pone el outline*/
.label-contrase単a:hover + #password{
    outline: #ED6200 solid 2px;
}

.ojo{
    position: absolute;
    right: 3.3em;
    top: .65em;
    padding-left: 5px;
    background-color: white;
    cursor: pointer;
}


.p-olvidar-password{
    font-size: 0.8em;
    text-align: center;
    margin: 0.5em 0;
}

.boton-iniciar-sesion{
    align-self: center;
    margin-top: 1em;
    
    background-color: #ED6200;
    outline: #ED6200 solid 2px;

    border-radius: 0.3em;
    width: 76%;
    font-size: 1.2em;
    padding: 0.5em;
    text-decoration: none;
    color: white;
    border: 0;
    cursor: pointer;

    display: flex;
    justify-content: center;
}
.boton-iniciar-sesion:hover{
    transition: all .5s;
    outline: #ED6200 solid 2px;
    color: #ED6200;
    background-color: white;
}
.boton-iniciar-sesion > span{
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.boton-iniciar-sesion > span:hover{
    transition: all .2s;
    transform: scale(1.1);
}


.p-de-registrarse{
    align-self: center;
    font-size: 0.8em;
}

.links{
    color: rgb(48, 48, 255);
}
.links:hover{
    color: #ED6200;
}

/*--------------- mensajes de error------------*/

.error-usuario,
.error-contrase単a{
    color: red;
    font-size: 0.8em;
    position: absolute;
    left: 5.5em;
    cursor: text;
}

.error-usuario{
    bottom: 17.2em;
}

.error-contrase単a{
    bottom: 12.1em;
}

/*---------------------------------------------*/

